@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500&family=Poiret+One&family=Tangerine:wght@400;700&display=swap");
* {
  /*reet*/
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.fondo_header {
  background-color: black; }
  .fondo_header .alto_header_hijos {
    height: 10vh; }
    .fondo_header .alto_header_hijos .cabecera__logo {
      height: 130%; }
    .fondo_header .alto_header_hijos .titulo {
      color: whitesmoke;
      font-family: "Tangerine";
      font-size: 4.5em; }
    .fondo_header .alto_header_hijos .subtitulo {
      display: none;
      font-family: "Poiret One";
      font-size: 1rem;
      color: whitesmoke; }
    .fondo_header .alto_header_hijos .fondo_nav {
      background-color: rgba(0, 0, 0, 0.5); }
    .fondo_header .alto_header_hijos .anclas {
      text-decoration: none;
      color: whitesmoke;
      font-family: "Poiret One"; }
  .fondo_header .relleno_1 {
    display: none; }
  .fondo_header .relleno_2 {
    display: none; }
  .fondo_header .colum_redes {
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
  .fondo_header .alto_header_hijos_redes {
    height: 8vh; }
    .fondo_header .alto_header_hijos_redes .cabecera__derecha__ubi__text {
      display: none; }
    .fondo_header .alto_header_hijos_redes .cabecera__derecha__wsp__text {
      display: none; }
    .fondo_header .alto_header_hijos_redes .icono {
      color: whitesmoke;
      font-size: 1.2em; }

.contenido_pagina_principal {
  background-image: radial-gradient(circle, #d397c7, #9683b6, #5c6f99, #2c5874, #083f4c); }
  .contenido_pagina_principal .contenedor_galeria_img {
    width: 100vw; }
    .contenido_pagina_principal .contenedor_galeria_img .img_galeria {
      max-width: 100%; }

.titulo_pages {
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Poiret One";
  font-size: 2em;
  color: whitesmoke; }

.subtitulo_pages {
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Poiret One";
  font-size: 1.5em;
  color: whitesmoke; }

.parrafo_pages {
  display: none; }

.texto_card {
  font-family: "Poiret One";
  font-weight: bold;
  color: black; }

.fila_mallas {
  justify-content: center; }

.parrafo_movil {
  display: inline;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Poiret One";
  font-size: 1em;
  color: whitesmoke; }

.alto_mapa {
  height: 50vh; }

.tabla_envios {
  background-color: rgba(0, 0, 0, 0.5);
  color: whitesmoke; }

.div_tabla_envios {
  display: inline; }

.tamaño_video {
  width: 90%;
  height: 50vh; }

.div_video {
  background-color: rgba(0, 0, 0, 0.5); }

.fondo_footer {
  background-color: black; }
  .fondo_footer .alto_ayuda {
    height: 5vh; }
    .fondo_footer .alto_ayuda .texto_ayuda {
      font-family: "Poiret One";
      font-size: 1.5em;
      color: whitesmoke; }
    .fondo_footer .alto_ayuda .icono_footer {
      color: whitesmoke;
      font-size: 2em;
      padding-top: 10%; }
  .fondo_footer .redes_footer {
    display: none; }
  .fondo_footer .relleno_3 {
    display: none; }
  .fondo_footer .relleno_4 {
    display: none; }
  .fondo_footer .alto_lista {
    height: 1em; }
    .fondo_footer .alto_lista .anclas_footer {
      text-decoration: none;
      font-family: "Poiret One";
      font-size: 0.8em;
      color: whitesmoke; }
  .fondo_footer .marcas_opacidad {
    width: 20%;
    opacity: 0.3; }

@media (min-width: 767px) {
  /*HEADER*/
  .fondo_header .colum_logo {
    order: 1; }
  .fondo_header .colum_titulo {
    order: 2; }
  .fondo_header .relleno_1 {
    order: 4;
    display: inline; }
  .fondo_header .colum_nav {
    height: 8vh;
    order: 5; }
  .fondo_header .relleno_2 {
    order: 6;
    display: inline; }
  .fondo_header .colum_redes {
    text-align: right;
    display: flex;
    order: 3; }
  .fondo_header .alto_header_hijos_redes .icono {
    color: whitesmoke;
    font-size: 2em;
    padding-top: 50%; }
  .fondo_header .alto_header_hijos_redes .insta_face {
    display: none; }
  /*HEADER*/
  /*MAIN*/
  .contenido_pagina_principal .contenedor_galeria_img {
    width: 40vw; }
  /*MAIN*/
  /*FOOTER*/
  .fondo_footer .redes_footer {
    display: inline-block;
    text-align: center; }
  .fondo_footer .relleno_3 {
    display: inline; }
  .fondo_footer .relleno_4 {
    display: inline; }
  /*FOOTER*/
  /*ESPECIFICO DE PAGINAS*/
  .fila_mallas {
    justify-content: space-between; }
  .parrafo_pages {
    display: inline;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: "Poiret One";
    font-size: 1.5em;
    color: whitesmoke; }
  .parrafo_movil {
    display: none; }
  .alto_mapa {
    height: 50vh; }
  .div_tabla_envios {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; }
  .tamaño_video {
    width: 560px;
    height: 315px; } }

/*ESPECIFICO DE PAGINAS*/
