.fondo_footer{
    background-color:map-get($colores, n1);
    .alto_ayuda{height: 5vh;
        .texto_ayuda{
            font-family:map-get($fuentes, f2);
            font-size: 1.5em;
            color:map-get($colores, b1);}
        .icono_footer{
            color:map-get($colores, b1);
            font-size: 2em;
            padding-top: 10%;}}
    .redes_footer{display: none;} 
    .relleno_3{@extend .redes_footer}
    .relleno_4{@extend .redes_footer}
    .alto_lista{height: 1em;
        .anclas_footer{@include anclas(0.8em)}}
    .marcas_opacidad{width: 20%;
        opacity: 0.3;}
}







