.fondo_header{
   background-color:map-get($colores, n1);
    .alto_header_hijos{
        height: 10vh;
        .cabecera__logo{
            height: 130%;}
        .titulo{
            color:map-get($colores, b1);
            font-family:map-get($fuentes, f1);
            font-size: 4.5em;}
        .subtitulo{
            display: none;
            font-family:map-get($fuentes, f2);
            font-size: 1rem;
            color:map-get($colores, b1);}
        .fondo_nav{
            background-color:map-get($colores, n2);}
        .anclas{
            text-decoration: none;
            color:map-get($colores, b1);
            font-family:map-get($fuentes, f2);}}
    .relleno_1{display: none;}
    .relleno_2{display: none;}
    .colum_redes{
        display: flex;
        justify-content: space-evenly;
        align-items: center;}
    .alto_header_hijos_redes{
        height: 8vh;
        .cabecera__derecha__ubi__text{
            display: none;}
        .cabecera__derecha__wsp__text{
            display: none;}
        .icono{
            color:map-get($colores, b1);
            font-size: 1.2em;}}
}



