.titulo_pages{
    @include titulos-subtitulos(2em)}
.subtitulo_pages{
    @include titulos-subtitulos(1.5em)}
.parrafo_pages{display: none;}
.texto_card{font-family:map-get($fuentes, f2);
    font-weight: bold;
    color:map-get($colores, n1);}
.fila_mallas{justify-content: center;}
.parrafo_movil{display: inline;
    background-color:map-get($colores, n2);
    font-family:map-get($fuentes, f2);
    font-size: 1em;
    color:map-get($colores, b1);}
.alto_mapa{height: 50vh;}
.tabla_envios{background-color:map-get($colores, n2);
    color:map-get($colores, b1);}
.div_tabla_envios{display: inline;}
.tamaño_video{width: 90%;
    height: 50vh;}
.div_video{background-color:map-get($colores, n2);}