.titulo_pages{
    background-color: $color-nt;
    font-family: $fuente-2;
    font-size: 2em;
    color: $color-bh;
}
.subtitulo_pages{
    background-color: $color-nt;
    font-family: $fuente-2;
    font-size: 1.5em;
    color: $color-bh;
}

.parrafo_pages{
    display: none;
}

.texto_card{
    font-family: $fuente-2;
    font-weight: bold;
    color: $color-n;   
}

.fila_mallas{
    justify-content: center;
}

.parrafo_movil{
    display: inline;
    background-color: $color-nt;
    font-family: $fuente-2;
    font-size: 1em;
    color: $color-bh;
}

.alto_mapa{
    height: 50vh;
}

.tabla_envios{
    background-color: $color-nt; 
    color: $color-bh;
}

.div_tabla_envios{
    display: inline;
}

.tamaño_video{
    width: 90%;
    height: 50vh;
}

.div_video{
    background-color: $color-nt;
}