$fuentes:(
    f1:'Tangerine',
    f2:'Poiret One');

$colores:(
    n1:black,
    n2:rgba(0, 0, 0, 0.5),
    b1:whitesmoke,
    b2:rgba(245, 245, 245, 0.3),
    g1:radial-gradient(circle, #d397c7, #9683b6, #5c6f99, #2c5874, #083f4c));