$color-n: black;
$color-nt: rgba(0, 0, 0, 0.5);
$color-bh:  whitesmoke;
$fuente-1: 'Tangerine';
$fuente-2: 'Poiret One';
$gradient: radial-gradient(circle, #d397c7, #9683b6, #5c6f99, #2c5874, #083f4c);